

@keyframes clouds {
	0% {
		transform: translateX(-60%);
	}
	100% {
		transform: translateX(0%);
	}
}

.sun {
	display: none;
	width: 200px;
	height: 200px;
	background: #FFFFFF;
	box-shadow: 0px 0px 60px 40px rgba(255,255,255,0.50);
	left: 50%;
	margin-left: -100px;
	position: absolute;
	top: -150px;
}


body {
	background: url('../../img/blueprint-bg.png'),
							#5EA0F4;
	background-attachment: fixed;
}

.body-wrap {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 10px;
}

.clouds {
	background:transparent url('../../img/clouds.svg') left top repeat-x;
	width: 100%;
	height: 100px;
	position: absolute;
	top: 280px;
	z-index: -5;
	animation-fill-mode: both;
	// animation-name: clouds;
	animation-duration: 50s;
	animation-iteration-count: 1;
}



.organizers-header {
	margin-top: 30px;
	text-align: center;

	p {
		font-family: $ff-brand;
		font-size: rem-calc(13);
		color: rgba(#fff, .7);
	}

	.l1-logo {
		display: block;
		@include mq(600) {
			transform: translateY(8px);
			display: inline-block;
		}
	}

	p.and {
		display: block;
		margin: 10px 0px;

		@include mq(600) {
			transform: translateY(-10px);
			margin: 0 50px;
			display: inline-block;

		}
	}

	.arhitetekt-must-logo {
		display: block;
		@include mq(600) {
			display: inline-block;
		}
	}

	p.presents {
		display: block;
		margin-top: 20px;
		text-transform: uppercase;
		letter-spacing: .7em;
		margin-bottom: 30px;
		font-size: rem-calc(13);
		color: rgba(#fff, .7);

		@include mq(1200) {
			margin-top: 50px;
		}

	}

}

.hero {
	position: relative;
}

.date {
	font-family: $ff-brand;
	color: #ffff00;
	font-size: rem-calc(15px);
	position: absolute;
	text-shadow: 0 2px 0 #3f3f00;
	// top: 200px;
	// right: 150px;
	// transform: rotate(-15deg);
	text-align: center;
	width: 100%;
	top: -10px;

	@include mq(480) {
		top:0;
	}

	@include mq(720) {
		top:10px;
	}

	@include mq(1200) {
		font-size: rem-calc(25px);
		top:15px;
	}

}

.hero-title {
	font-family: $ff-brand-alt;
	font-weight: $fw-brand;
	font-size: rem-calc(35px);
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: -0.1em;
	display: block;
	text-align: center;
	color: white;
	text-shadow: 0px 5px 0px #000;

	@include mq(480) {
		font-size: rem-calc(50px);
	}

	@include mq(720) {
		font-size: rem-calc(80px);
	}

	@include mq(1200) {
		font-size: rem-calc(100px);
	}

	span {
		display: inline-block;
		font-family: $ff-brand;
		font-weight: $fw-brand;
		font-size: rem-calc(20px);
		letter-spacing: 0;
		text-transform: none;
		background-image: url('../../img/minecraft_brick.jpg');
		background-size: (318px/7.41) (320px/7.41);
		box-shadow: 0px 5px 0px 0px #353535,
								0 0 2px 0 #353535;
		text-shadow: 0px 3px 0px #353535;
		position: relative;
		top: -10px;
		padding: 5px 20px;

		@include mq(480) {
			padding: 5px 40px;
			top: -35px;
		}

		@include mq(720) {
			top: -70px;
			font-size: rem-calc(40px);
		}

		@include mq(1200) {
			font-size: rem-calc(50px);
		}
	}

}

.intro-body {
	background-image: url('../../img/woodplanks.jpg');
	background-size: (974px/2) (488px/2);
	font-family: $ff-brand;
	padding: 5px;
	box-shadow: 0px 5px 0px 0px #353535,
							0 0 2px 0 #353535;
	margin-bottom: 50px;
	font-size: rem-calc(14px);

	@include mq(500) {
		padding: 15px;
	}

	@include mq(720) {
		font-size: rem-calc(16px);
		margin-top: -130px;
		padding: 35px;
	}

	@include mq(1400) {
		font-size: rem-calc(20px);
	}

	p {
		line-height: 2;
		margin-bottom: 1em;
		color: #222;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: #000;
			border-bottom: 2px solid #ccc;
			transition: .5s;

			&:hover {
				border-bottom: 2px solid #6ca847;
			}

		}

	}

	.intro-body-inner {
		background-color: #fff;
		box-shadow: 0px 0px 2px 0px #353535;
		padding: 15px;

		@include mq(500) {
			padding: 25px;
		}

		@include mq(720) {
			padding: 70px 50px 50px 50px;
		}

	}
}

.btn {
	background-image: url('../../img/minecraft_stone.jpg');
	background-size: (320px/5) (320px/5);
	border: 2px solid #000;
	color: white;
	text-shadow: 0px 2px 0px #353535;
	font-size: rem-calc(20);
	font-family: $ff-brand-alt;
	font-weight: $fw-brand;
	letter-spacing: -0.03em;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 15px 10px 25px;
	box-shadow: inset 4px 4px 0px 0px rgba(255,255,255,0.50),
							inset -4px -4px 0px 0px rgba(0,0,0,0.43);

	&:hover {
		background-image: linear-gradient( 0deg, rgba(#848eba, .6), rgba(#848eba, .6) ),
											url('../../img/minecraft_stone.jpg');
	}

	@include mq(650) {
		padding: 15px 140px 25px;
		max-width: 600px;
	}

}

.btn--disabled {
	cursor: not-allowed;
}

.button-info-label {
	font-family: verdana;
	text-transform: uppercase;
	font-size: rem-calc(12px);
	text-align: center;
	margin-top: 5px;
	color: white;
	font-weight: bold;
}

.sponsors-section {
	margin-top: 100px;
	margin-bottom: 300px;

	h2 {
		font-family: $ff-brand;
		color: white;
		text-shadow: 0px 2px 0px #000;
		font-size: rem-calc(40px);
		text-align: center;
		margin-bottom: 50px;
	}

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		margin-bottom: 70px;

		@include mq(920) {
			width: 33%;
			margin-bottom: 0;
		}
	}
}

.help-info {
	background-image: url('../../img/woodplanks.jpg');
	background-size: (974px/2) (488px/2);
	font-family: $ff-brand;
	padding: 5px;
	margin-top: -130px;
	font-size: rem-calc(20px);
	box-shadow: 0px 5px 0px 0px #353535,
							0 0 2px 0 #353535;
	margin-bottom: 50px;

	@include mq(500) {
		padding: 20px;
	}

	@include mq(720) {
		padding: 35px;
	}

	@include clearfix();

	& > div {
		position: relative;
		background-color: #fff;
		box-shadow: 0px 0px 2px 0px #353535;
		margin-bottom: 30px;
		padding: 40px 5px 40px 5px;

		@include mq(500) {
			padding: 40px 15px 40px 15px;
		}

		@include mq(720) {
			padding: 70px 30px 40px 30px;
		}

		@include mq(1000) {
			width: 48%;
			float: left;

			&:last-child {
				float: right;
			}
		}
	}


	.info-title {
		background-image: url('../../img/woodplanks.jpg');
		background-size: (974px/2) (488px/2);
		text-shadow: 0px 2px 0px #353535;
		box-shadow: 0px 2px 0px 0px #353535,
								0 0 2px 0 #353535;
		display: inline-block;
		color: #fff;
		font-size: rem-calc(25px);
		min-width: 200px;
		text-align: center;
		margin: 0 auto;
		position: absolute;
		padding: 15px 20px;
		left: 50%;
		margin-left: -100px;
		text-transform: uppercase;
		top: -50px;
	}

	p, ol, ul {
		font-size: rem-calc(14px);
		font-family: Verdana, sans-serif;
		line-height: 1.9;
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}

	}

	ul, ol {
		padding-left: 1.7em;

		ul, ol {
			padding-left: 1.2em;

			li {
				margin-bottom: 0;
			}
		}

	}

	li {
		margin-bottom: 1em;
	}

}

.footer-deco {
	background: url('../../img/mcdirt.jpg') center bottom / (319px/2) (320px/2) repeat-x;
	width: 100%;
	height: (320px/2);
}

.contact {
	width: 100%;
	text-align: center;
	color: #fff;
	margin-bottom: 150px;
	margin-top: 100px;



	.contact-label {
		font-family: Verdana, sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-size: rem-calc(10);
		text-shadow: 0px 1px 0px #353535;
		font-weight: bold;
		letter-spacing: .5em;
	}

	a {
		font-family: $ff-brand;
		text-shadow: 0px 2px 0px #353535;
		color: #fff;
		font-size: rem-calc(20px);

		@include mq(720) {
			font-size: rem-calc(30px);
		}

		&:hover {
			text-transform: uppercase;
		}

	}

}


.form {
	margin-bottom: 300px;
}




/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../../fonts/flexislider/flexslider-icon.eot');
	src:url('../../fonts/flexislider/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/flexislider/flexslider-icon.woff') format('woff'),
		url('../../fonts/flexislider/flexslider-icon.ttf') format('truetype'),
		url('../../fonts/flexislider/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
// .flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #000; border: 4px solid #000; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; z-index: 9999;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

.prizes-section {
	margin-top: 100px;
	h2 {
		font-family: $ff-brand;
		color: white;
		text-shadow: 0px 2px 0px #000;
		font-size: rem-calc(40px);
		text-align: center;
		margin-bottom: 50px;
	}
}

.slides  {
	text-align: center;

	.caption {

		h3 {
			font-family: $ff-brand;
			text-align: center;
			margin-bottom: 20px;
		}
		color: #fff;
		text-align: left;
		padding: 30px 30px 50px 30px;

		p {
			font-family: verdana, sans-serif;
			font-size: 15px;
			line-height: 1.6;
		}
		.caption-helper {
			font-size: 13px;
			margin-top: 10px;
			color: rgba(#fff, .7);
		}
	}
}

