/*------------------------------------*\
		# Resets
\*------------------------------------*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit; // make it easier to change the box-sizing in other components that leverage other behavior
}

::selection {
	background: #8dc63f;
	color: #fff;
	text-shadow:none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr {
	margin:0;
	padding:0;
}