// /*------------------------------------*\
//     # Colors
// \*------------------------------------*/

$color-white: #fff;
$color-dark: #202020;
$color-brand: #8dc63f;

$color-light-accent: #e6e3dc;
$color-dark-accent: #968e8c;




// /*------------------------------------*\
//     # Fonts
// \*------------------------------------*/

// /**
//  * Open Sans 400,400italic,800
//  */

$ff-brand: 'minecraftiaregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-brand-alt: 'Minecrafter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fw-brand: normal;